#banner {
  background-color: $downriver;
  top: 0;
  position: relative;
  padding: 0;
  width: 100%;

  @include media-breakpoint-up(md) {
    background-position: center center;
  }
  // banners paginas internas
  &.interno {
    background: linear-gradient(
      180deg,
      rgb(26, 46, 136) 0%,
      rgb(5, 19, 82) 100%
    );
    min-height: 400px;

    h1 {
      font-weight: 700;
    }
  }
  .carousel-item {
    .carousel-caption {
      bottom: 20%;
      padding-left: 1rem;

      @include media-breakpoint-up(md) {
        width: 40%;
      }
      h1,
      h2 {
        font-family: MyriadHebrewBold, sans-serif;
        font-weight: 700;
        font-size: 2rem;
        line-height: 1;
        text-shadow: 0 2px 5px rgba($black, 0.5);

        @include media-breakpoint-up(md) {
          font-size: 2.5rem;
        }
      }
      .lead {
        color: $white;
        font-size: 1rem;
        font-style: italic;
        line-height: 1.2;
        text-shadow: 0 2px 5px rgba($black, 0.5);

        @include media-breakpoint-up(md) {
          font-size: 1.5rem;
        }
      }
    }
  }
}
