#beneficios {
  .box-beneficio {
    background: $white;
    border-radius: 10px;
    box-shadow: 0 20px 50px rgba($black, 0.15);
    margin-bottom: 25px;
    min-height: 120px;
    padding: 20px;
    transition: all ease-in-out 0.25s;

    &:hover {
      background: $downriver;
      box-shadow: 0 5px 20px rgba($black, 0.15);

      a {
        color: $white;

        &:hover {
          color: $white;
          text-decoration: none;
        }
      }

      p {
        color: $white;
      }
    }

    img {
      margin-right: 20px;
    }
    p {
      color: $downriver;
      line-height: 1.4;
      margin-bottom: 0;

      a {
        color: $downriver;
      }
      strong {
        font-family: MyriadHebrewBold, sans-serif;
      }
    }
  }
}
