.busca{
  background: $downriver;
  color: $white;
  text-align: center;

  h2{
    margin-bottom: 2rem;
  }

  form{
    background: $white;
    border-radius: 2rem;
    color: $downriver;
    display: inline-flex;
    padding: 0 1rem;
    width: 100%;

    input{
      background: none;
      border: none;
      font-size: 2rem;
      padding: .5rem;
      width: 100%;
    }

    button{
      background: none;
      border: none;
      
      svg{
        fill: $downriver;
        height: 2rem;
        width: 2rem;
      }
    }
  }
}