.categorias {
  background: $downriver;
  color: $white;
  padding-top: 1rem;
  position: relative;

  &__lista {
    margin-bottom: 3rem;
    padding-inline-start: 0;
    text-align: center;

    .owl-item {
      text-align: center;

      a {
        color: $white;
        display: flex;
        border-bottom: 3px solid $white;
        font-size: 1.5rem;
        justify-content: center;
        padding: 1rem 2rem;
        text-align: center;
        text-decoration: none;
        transition: all ease-in-out 0.25s;

        &:hover {
          border-bottom: 3px solid $science;
          color: $science;
        }
      }
    }

    .owl-nav {
      display: block !important;
      position: relative;
      top: -72px;
      width: 100%;

      button {
        position: absolute;
        top: 0;

        span {
          font-size: 3rem;
          color: $azure;
        }

        &.owl-prev {
          left: -30px;
        }

        &.owl-next {
          right: -30px;
        }
      }
    }
  }

  &__plus {
    animation: oscile 3s infinite ease-in-out;
    content: " ";
    left: 50%;
    display: block;
    position: relative;
    height: 25px;
    width: 25px;

    &:after {
      border: 1px solid $azure;
      content: " ";
      display: block;
      height: 100%;
      margin-left: 50%;
      position: absolute;
      width: 2px;
    }
    &:before {
      border: 1px solid $azure;
      content: " ";
      display: block;
      height: 2px;
      margin-top: calc(50% - 2px);
      position: absolute;
      width: 100%;
    }
  }

  &__circulo {
    animation: oscile 3s infinite ease-in-out;
    border: 1px solid $azure;
    border-radius: 60%;
    bottom: 25px;
    right: 5px;
    content: " ";
    display: block;
    position: absolute;
    height: 50px;
    z-index: 50;
    width: 50px;
  }
}
